.hotel-image{
    height: 500px;
    width: 500px;
    margin-top: 1%;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
    
}
.image-body{
    background-color:lightgrey;
}
.body-align{
    margin-left:4%;
    margin-right: 4%;
}
.list{
    margin-left: 2%;
}
#login{
    margin-left: 95%;
}
#contact{
    margin-top: 5%;
    border-radius: 5%;
    background-color: black;
    background-color: aqua;
    
}
.imgalign{
    margin-left: 95%;
}
.dumytext{
    margin-left: 45%;
}
