/*.hotel-image{
    height: 200px;
    width: 250px;
    background-color: gray;
}
body{
    background-color :#e0e0e0;
    width: 80px;
    width: 100px;
    margin-left: 2%;
}
header{
    background-color: rosybrown;

}
hotel-imgage 
{ 
    height: 200px; 
    width: 250px; 
 
} 
#list-view 
{ 
    margin: 2%; 
} 
.image-container 
{ 
    background-color:rgb(132,136,139); 
    width: 40%; 
}*/
.hotelImg 
{ 
    height: 200px; 
    width: 250px; 
   
} 
#list-view 
{ 
    margin: 2%; 
} 
.imageContainer 
{ 
    background-color: lightgray;
    width: 40%; 
}
.logo-img{
    background-color: rosybrown;
}
body{
    background-color:#e0e0e0 ;
}
footer{
    background-color: rosybrown;
}
.login{
    margin-left:95% ;
    align-items: center;
    margin-bottom:50% ;
}
.view{
    margin-left: 38%;
    
}
.img-row{
    flex-direction: row;

}

.socialImg{
    margin-left: 95%;
    
}
.imagshift{
    margin-left: 30%;
    background-color: lightgray;
    text-align: top;
}
#textplace{
    margin-left:45%;
    display: flex;
}
